@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

body {
    font: var(--font-m);
}

.app {
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--primary-color);
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}