:root {
    --font-family-main: consolas, "Times New Roman", serif;

    // Font sizes
    --font-size-m: 16px;
    --font-size-l: 24px;
    --font-size-xl: 32px;

    // Font lines
    --font-line-m: 24px;
    --font-line-l: 32px;
    --font-line-xl: 40px;

    // Fonts
    --font-m: var(--font-size-m) / var(--font-line-m) / var(--font-family-main);
    --font-l: var(--font-size-l) / var(--font-line-l) / var(--font-family-main);
    --font-xl: var(--font-size-xl) / var(--font-line-xl) / var(--font-family-main);

    // Sizes
    --navbar-height: 50px;
    --sidebar-width: 300px;
    --sidebar-width-hide: 80px;

    // Z-indexes
    --modal-z-index: 10;

    // Colors
    --black-color: #000;
}