@import "../../../app/styles/index";

.Modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    color: var(--primary-color);
}

.overlay {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 20px;
    border-radius: 12px;
    background: var(--bg-color);
    transition: 0.4s transform;
    transform: scale(0.5);
    max-width: 60%;
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--modal-z-index);

    .content {
        transform: scale(1);
    }
}

.isClosing {
    .content {
        transform: scale(0.1);
    }
}