.SideBar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.4s;
}

.isHide {
    width: var(--sidebar-width-hide);
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.isHideBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;

}