.app_dark_theme {
    --bg-color: #2C333A;
    --inverted-bg-color: #F1F2F4;
    --primary-color: #DCDFE4;
    --secondary-color: #F1F2F4;
    --inverted-primary-color: #1D2125;
    --inverted-secondary-color: #161A1D;
}