.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.links {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.icon {
    fill: var(--inverted-primary-color);
    margin-right: 5px;
}