.AppLink {
    color: var(--primary-color);
    text-decoration: none;
    font-size: var(--font-size-m);
    font-weight: bold;
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--inverted-secondary-color);
}

